.page-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  color: $nav-color;
  background: #141414 no-repeat url("../img/header-bcg.jpg");

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
    background: #141414 no-repeat url("../img/header-bcg-mob.jpg");
    background-size: cover;
    background-position-y: -157px;
  }
}

.header__top {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 76px;
  padding: 0 96px;
  background-color: $bcg-header;

  @media (max-width: $tablet-width) {
    align-items: baseline;
    justify-content: start;
    height: 55px;
    padding: 18px 16px;
  }
}

.header__bottom {
  padding: 70px 96px;

  @media (max-width: $tablet-width) {
    padding: 25px 16px;
  }
}

.header__heading {
  max-width: 585px;
  margin-bottom: 80px;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;

  @media (max-width: $tablet-width) {
    margin: 0 18px 320px;
    font-size: 24px;
    line-height: 29px;
    text-shadow: $basic-black 2px 0 10px;
  }
}

.page-header .form {
  max-width: 375px;
}
