/* Fonts */

// Gotham

@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Gotham Book"),
    url("../fonts/gotham/Gotham-Book.woff2") format("woff2"),
    url("../fonts/gotham/Gotham-Book.woff") format("woff"),
    url("../fonts/gotham/Gotham-Book.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Gotham Medium"),
    url("../fonts/gotham/Gotham-Medium.woff2") format("woff2"),
    url("../fonts/gotham/Gotham-Medium.woff") format("woff"),
    url("../fonts/gotham/Gotham-Medium.ttf") format("truetype");
}

// Inter

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Inter Regular"),
    url("../fonts/inter/Inter-Regular.woff2") format("woff2"),
    url("../fonts/inter/Inter-Regular.woff") format("woff"),
    url("../fonts/inter/Inter-Regular.ttf") format("truetype");
}
