// Colors
$basic-white: #ffffff;
$basic-black: #000000;
$bcg-black: #1e1e1e;
$main-color: #e9463b;

// Text-colors
$nav-color: #fefdfb;
$text-color: #171a20;
$form--heading-color: #fef6f7;
$rewiew-time-color: #888888;

// BCGs
$bcg-header: rgba(116, 116, 114, 0.15);
$bcg-mobile-menu: #353535;
$bcg-mobile-menu-close: #656565;
$bcg-benefits-img: #4a4a4a;
$bcg-rewiews: radial-gradient(78.62% 78.62% at 50% 21.37%, #353536 0%, #141312 100%);
$bcg-page-footer: #222223;

// Borders
$device-border: #efeff1;
$avatar-border: #696767;
$slider-border: #dadada;

// Viewprts
$tablet-width: 1024px;
