// Colors
$basic-white: #ffffff;
$basic-black: #000000;
$bcg-black: #1e1e1e;
$main-color: #e9463b;

// Text-colors
$nav-color: #fefdfb;
$text-color: #171a20;

// BCGs
$bcg-header: rgba(116, 116, 114, 0.15);
$bcg-mobile-menu: #353535;
$bcg-mobile-menu-close: #656565;

// Borders
$device-border: #efeff1;

// Viewprts
$tablet-width: 1024px;
